 body {
    background-color: #B2A59B;
 }
 
 fieldset {
    width: 46%;
    height: auto;
    border-color: blue;
    border-radius: 10px;
    margin: auto;
    margin-top: 1%;
    background: #FAEED1;
    padding: 3%;
}
legend {
    font-size: 22px;
    font-weight: 600;
    font-family: initial;
    color: gray;
    color: black;
}
.firstin {
    display: flex;
}
.secondin {
    display: flex;
    margin-top: 2%;
}
.nmi {
    margin-right: 6%;
}
label {
    font-family: emoji;
    font-weight: 600;
}
.fullnm {
    padding: 3%;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 1px solid gray;
}
select {
    background-color: #ebebeb;
    padding: 3%;
    outline: none;
}
.one {
    width: 145px;
}
h1 {
    margin-left: 26%;
} 
 
.btn 
{
    width: 180px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid transparent;
    color: white;
    background: #4242ad;
    font-weight: 900;
    margin-left: 24%;
    margin-top: 2%;
    
}

.btn:hover {
    border: 1px solid red;
    color: red;
}

/* ========== responsive ==========  */

 @media only screen and (min-width:300px) and (max-width:480px)
{

    body {
        background: antiquewhite;
    }

    .firstin {
        display: flex;
        flex-direction: column;
    }
    .secondin {
        display: flex;
        margin-top: 2%;
        flex-direction: column;
    }

    fieldset {
        width: 80%;
        height: auto;
        border-color: blue;
        border-radius: 10px;
        margin: auto;
        margin-top: 1%;
        background-color: darkgrey;
    } 

    h1 {
        margin-left: 5%;
    }

    .nmi {
        margin-right: 6%;
        margin-top: 5%;
    }

    legend {
        font-size: 22px;
        font-weight: 600;
        font-family: initial;
        color: black;
    }

    .btn {
        width: 180px;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid transparent;
        color: white;
        background: #4242ad;
        font-weight: 900;
        margin-left: 18%;
        margin-top: 2%;
    }
    
} 

/* @media only screen and (min-width:768px) and (max-width:1023px) {

}  */
